{
    "tabWidth": 4,
    "semi": false,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": ["^\\w(.*)$", "^[./]"],
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
